/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html body {
  background: url("avocado.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*overflow-x: hidden;*/
}

.userProductInput {
  max-width: 100px;
}

#background-table-pantry {
/*  margin: 0 -9999rem;
  margin-top: 20%;
   add back negative margin value
  padding: 0.25rem 9999rem;
  padding-bottom: 4%;*/
  max-width: 100%;
  height: 350px;
  width: 500px;
  background: rgba(71, 181, 108, 0.5);
  margin-left: 2%;
  margin-right: -2%;
  padding: 1%;
  /*overflow: hidden;*/

  /*overflow-x: hidden;*/

  /*text-align: center;*/
}
/*  background: #80E680;
  width: 100%;
  line-height: 100%;*/
  /*opacity: 0.4;*/

#background-table-fridge {
/*  margin: 0 -9999rem;
  margin-top: 20%;
   add back negative margin value
  padding: 0.25rem 9999rem;
  padding-bottom: 4%;*/
  margin-left: 4.5%;
  max-width: 100%;
  height: 350px;
  /*overflow-x: hidden;*/
  padding: 1%;
  /*overflow-x: hidden;*/
  background: rgba(71, 181, 108, 0.5);
  /*text-align: center;*/

}

#background-table-freezer {
/*  margin: 0 -9999rem;
  margin-top: 20%;
   add back negative margin value
  padding: 0.25rem 9999rem;
  padding-bottom: 4%;*/
  max-width: 100%;
  text-align: center;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  padding: 1%;
  margin: 4%;
  height: 350px;
  background: rgba(71, 181, 108, 0.5);
  /*text-align: center;*/

}




