<div class="container-fluid">
  <div class="row">
    <div id="enterItems">
      <div class="col-xs-9 col-md-6 col-xs-offset-1 col-md-offset-3">
        <h1> Enter your items</h1>

        <%= form_for @product, url: list_path, method: :post do%>
          <div id="listForm">
            <div class="form-group">
              <label class="labelItem" for="product_name0">Name</label>

              <input type="text" data-autocomplete="<%=autocomplete_path%>" data-update-elements="{}" name="products[][name]" class="inputItem" id="product_name0">
            </div>
          </div>
            <input type="button" name="add_another" id="addAnother" value="Add another item">
            <input type="submit" name="commit" id="importItems" value="Import items" data-toggle="modal" data-target="#aboutModal">

        <% end %>
      </div>
    </div>
  </div>
</div>















